@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Golos Text", Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  background-color: #303030;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 50px;
}

header {
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.header__logo {
  height: 40px;
  overflow: hidden;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__text {
  font-size: 14px;
  color: #F7DC1C;
}

.main__title {
  margin: 150px 0px 30px 0px;
}
.main__title h1 {
  font-size: 24px;
  color: #F7DC1C;
  font-weight: 700;
}
.main__input_item {
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
  text-align: left;
}
.main__input form {
  margin: 0 auto;
}
.main__button {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}
.main__button_item:after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../img/icon.png") left/12px 12px no-repeat;
  margin: 12px 0 0 4px;
}
.main__button button {
  font-size: 18px;
  padding: 4px 12px 10px 12px;
  border-radius: 5px;
  background-color: #F7DC1C;
  color: #000;
  max-height: inherit;
}
.main__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 450px;
  margin: 0px 0px 50px 0px;
}

textarea[type=text] {
  margin: 0px 10px 0px 0px;
  background-color: #303030;
  border-radius: 5px;
  border: solid 2px #000;
  min-height: 100%;
  max-height: 100%;
  min-width: 49.5%;
  max-width: 49.5%;
}
textarea[type=text]:last-child {
  margin: 0px;
}
textarea[type=text]:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
textarea[type=text]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}